[Unit]
Description=etcd
Documentation=https://github.com/coreos/etcd
Conflicts=etcd.service
Conflicts=etcd2.service

[Service]
Type=simple
Restart=always
RestartSec=5s
LimitNOFILE=40000
TimeoutStartSec=0
WorkingDirectory={{ install_dir }}
ExecStart={{ install_dir }}/etcd-launch.py

[Install]
WantedBy=multi-user.target